/*
    Custom properties
*/
:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1.25rem;
  --fs-500: 1rem;
  --fs-400: 1rem;
  --fs-300: 0.9375rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;

}

/* Pads */
@media (min-width: 35rem){
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.75rem;
    --fs-500: 1.5rem;
    --fs-400: 1rem;
}
}

/* Desktop */
@media (min-width: 48rem){
  :root {
    /* font-sizes */
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
}

}

/*
    General reset
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
img,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background-color: hsl( var(--clr-dark) );
  color: hsl( var(--clr-light) );
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  line-height: 1.5;
  min-height: 100vh;

  display: grid;
  grid-template-rows:  repeat(2, min-content) 1fr;
}


/*
    Utility classes
*/

.home {
  background-image: url(./assets/home/background-home-mobile.jpg);
  background-position: bottom;
  background-size: cover;
}

.destination {
  background-image: url(./assets/destination/background-destination-mobile.jpg);
  background-position: bottom;
  background-size: cover;
}

.crew {
  background-image: url(./assets/crew/background-crew-mobile.jpg);
  background-position: bottom;
  background-size: cover;
}

.tech {
  background-image: url('./assets/technology/background-technology-mobile.jpg');
  background-position: bottom;
  background-size: cover;
}

.margin-y {
  margin-block: 0.5rem;
}

@media (min-width: 35rem) {
  .home {
    background-image: url(./assets/home/background-home-tablet.jpg);
  }

  .destination {
    background-image: url(./assets/destination/background-destination-tablet.jpg);
  }

  .crew {
    background-image: url(./assets/crew/background-crew-tablet.jpg);
  }

  .tech {
    background-image: url(./assets/technology/background-technology-tablet.jpg);
  }

  .margin-y {
    margin-block: 1.0rem;
  }
}

@media (min-width: 48rem) {
  .home {
    background-image: url(./assets/home/background-home-desktop.jpg);
    background-position: center;
  }

  .destination {
    background-image: url(./assets/destination/background-destination-desktop.jpg);
    background-position: center;
  }

  .crew {
    background-image: url(./assets/crew/background-crew-desktop.jpg);
    background-position: center;
  }

  .tech {
    background-image: url(./assets/technology/background-technology-desktop.jpg);
    background-position: center;
  }

  .margin-y {
    margin-block: 1.5rem;
  }
}

.border-top {
  border-top: 1px solid hsl( var(--clr-white) / .25);
  margin-inline: 1.5rem;
}

@media (min-width: 35rem) {
  .border-top {
    margin-inline: 6rem;
  }
}

@media (min-width: 48rem) {
  .border-top {
    margin-inline: 0;
  }
}


.border-bottom {
  border-bottom: 1px solid hsl( var(--clr-white) / .25);
  margin-inline: 1.5rem;
}

@media (min-width: 35rem){
  .border-bottom {
    border: 0;
  }
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex-col {
  flex-direction: column;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.grid-container {
  display: grid;
  text-align: center;
}

.grid-container p {
  max-width: 38ch;
  margin-inline: auto;
}

.tech .grid-container p {
  max-width: 35ch;
}

@media (min-width: 35rem) {
  .grid-container p {
    max-width: 45ch;
  }

  .destination .grid-container p {
    max-width: 64ch;
  }

  .crew .grid-container p {
    max-width: 65ch;
  }


  .home .grid-container {
    margin-top: 3rem;
  }

  .crew .grid-container > *:first-child {
    grid-row: 2;
  }

  .crew .grid-container > *:nth-child(2){
    grid-row: 4;
  }

  .crew .grid-container > *:last-child {
    grid-row: 3;
    /* margin-top: 3rem; */
  }

  .tech .grid-container p {
    max-width: 50ch;
  }
}

@media (min-width: 48rem) {
  .grid-container {
   column-gap: var(--container-gap, 2rem);
   grid-template-rows: minmax(2rem, 1fr) 1fr;
   grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 40rem)) minmax(2rem, 1fr);
   place-items: center;
   text-align: left;
   /* border: 2px solid orange; */
  }

  .grid-container p {
    max-width: 45ch;
    margin-inline: 0;
  }

  .destination .grid-container p {
    max-width: 43ch;
    margin-bottom: 2rem;
  }

  .tech .grid-container p {
    max-width: 44ch;
    margin-inline: 0;
  }

  .grid-container > *:first-child {
    grid-column: 2;
    grid-row: 2;
    /* place-self: start center; */
    /* border: 1px solid red; */
  }

  .grid-container > *:nth-child(2){
    grid-column: 2;
    grid-row: 3;
    /* border: 1px solid green; */
  }

  .grid-container > *:last-child {
    grid-column: 3;
    grid-row: 3;
    /* border: 1px solid white; */
  }

  .home .grid-container >  *:last-child{
    place-self: end center;
  }

  .destination .grid-container {
    --container-gap: 0;
  }

  .destination .grid-container > *:nth-child(2){
    place-self: center;
  }

  .destination .grid-container > *:first-child{
    place-self: start;
  }

  .crew .grid-container p {
    max-height: 4ch;
    max-width: 45ch;
  }

  .crew .grid-container {
    --container-gap: 0;
    column-gap: var(--container-gap, 2rem);
    grid-template-rows: minmax(2rem, 1fr) 1fr;
    grid-template-columns: minmax(2rem, 1fr) repeat(2,minmax(0,40rem)) minmax(2rem, 1fr);
    place-items: start start;
    min-height: 729px;
  }

  .crew .grid-container > *:first-child {
    grid-column: 2;
    grid-row: 1/2;
    /* border: 1px solid red; */
  }

  .crew .grid-container > *:nth-child(2){
    grid-column: 3/4;
    grid-row: 1/3; 
    /* border: 1px solid yellowgreen; */
    place-self: end start;
  }

  .crew .grid-container > *:last-child {
    grid-column: 2/3;
    grid-row: 1/3;
    /* place-self: center; */
    /* border: 1px solid white; */
  }

  .tech .grid-container {
    column-gap: var(--container-gap, 2rem);
    grid-template-rows: minmax(2rem, 1fr) 3fr;
    grid-template-columns: minmax(2rem, 1fr) minmax(0,50rem) minmax(0,30rem) minmax(2rem, 1fr);
    place-items: start;
    /* gap: 0; */
  }

  .tech .grid-container > *:first-child {
    grid-column: 2;
    grid-row: 1/2;
    /* border: 1px solid red; */
  }

  .tech .grid-container > *:nth-child(2) {
    grid-row: 1/3;
    grid-column: 3/-1;
    place-self: center end;
    padding-top: 1rem;
    /* border: 2px solid yellow; */
  }

  .tech .grid-container > *:last-child {
    grid-row: 2;
    grid-column: 2;
    /* border: 2px solid yellow; */
  }

}

.hidden {
  visibility: hidden;
}

@media (min-width: 35rem) {
  .hidden {
    visibility: visible;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/*
    Colors
*/

.bg-dark { background-color: hsl(var(--clr-dark)); }
.bg-light { background-color: hsl(var(--clr-light)); }
.bg-white { background-color: hsl(var(--clr-white)); }

.text-dark { color: hsl(var(--clr-dark)); }
.text-light { color: hsl(var(--clr-light)); }
.text-white { color: hsl(var(--clr-white)); }


/* colors */

.bg-dark { background-color: hsl( var(--clr-dark) );}
.bg-accent { background-color: hsl( var(--clr-light) );}
.bg-white { background-color: hsl( var(--clr-white) );}

.text-dark { color: hsl( var(--clr-dark) );}
.text-accent { color: hsl( var(--clr-light) );}
.text-white { color: hsl( var(--clr-white) );}

/* typography */

.ff-serif { font-family: var(--ff-serif); } 
.ff-sans-cond { font-family: var(--ff-sans-cond); } 
.ff-sans-normal { font-family: var(--ff-sans-normal); } 

.letter-spacing-1 { letter-spacing: 0.295rem; } 
.letter-spacing-2 { letter-spacing: 0.16875rem; } 
.letter-spacing-3 { letter-spacing: 0.146875rem; } 

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }


.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

.fw-400 {
  font-weight: 400;
}

.fw-700 {
  font-weight: 700;
}

.numbered-title {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 0.295rem;
  color: hsl(var(--clr-white));
  text-align: center;
}

@media (min-width: 35rem) {
  .numbered-title {
    text-align: left;
    margin-left: 2rem;
  }
} 

@media (min-width: 48rem) {
  .numbered-title {
    text-align: left;
    margin-left: 0;
    /* place-self: start; */
  }

}

.numbered-title span {
  color: hsl( var(--clr-white) / .25);
  margin-right: 0.5em;
  font-weight: 700;
}

/* Interactive elements */

/* main Navigation */

.logo {
  margin-left: 2rem;
}

.mobile-nav {
  margin-left: auto;
  margin-right: 1.5rem;
  z-index: 3;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.primary-header {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

@media (min-width: 48rem) {
  .destination .primary-header {
    margin-bottom: 0;
  }
}

.primary-header > nav {
  position: fixed;
  z-index: 2;
  inset: 0px 0px 0px 32%;
  background-color: hsl( var(--clr-white) / .04);
  backdrop-filter: blur(40px);
}

.primary-nav {
  --underline-gap: 0.3rem;
  list-style: none;
  flex-direction: column;
  padding: 7rem 0 0 2rem;
  margin: 0;
}

.primary-nav a {
  text-decoration: none;
}

.primary-nav a > span {
  margin-right: 0.5em;
  font-weight: 700;
}

.underline-indicators > * {

  padding: var(--underline-gap, 0.5rem) 0;
  border: 0;
  border-right: .2rem solid hsl( var(--clr-white) / 0);
}

.underline-indicators > *:hover {
  border-color: hsl( var(--clr-white) / 0.5 );
}

.underline-indicators > .active {
  border-color: hsl( var(--clr-white) / 1);
}

@media (min-width: 35rem) {
  .mobile-nav {
    visibility: hidden;
  }

  .primary-header {
    margin-top: 0;
    margin-bottom: 3rem;
  }

  .primary-header:first-child {
    align-items: center;
  }

  .primary-header > nav {
    position: static;
  }

  .primary-nav {
    --gap: 2rem;
    flex-direction: row;
    padding: 0;
    padding-inline: 2.5rem 2rem;
    margin: 0;
    justify-content: flex-end;
  }

  .primary-nav a > span {
    display:none;
  }

  .underline-indicators > * {
    --underline-gap: 2rem;
    border: 0;
    border-bottom: .2rem solid hsl( var(--clr-white) / 0);
  }
}

@media (min-width: 48rem) {
  .mobile-nav {
    visibility: hidden;
  }

  .logo {
    padding-top: 2rem;
  }

  .primary-header > nav {
    margin-top: 2rem;
    width: 60%;
  }

  .primary-nav {
    --gap: 3rem;
    padding-inline: 1rem 2rem;
    justify-content: center;
  } 

  .primary-nav a > span {
    display: inline-block;  }

  .underline-indicators > * {
    --underline-gap: 1.9rem;
  }
}

/* explore button */
.large-button {
  position: relative;
  z-index: 1;
  display: inline-grid;
  place-items: center;
  min-width: 9.375rem;
  aspect-ratio: 1;
  padding: 0 2em;
  border-radius: 50%;
  text-decoration: none;
  margin-top: 5rem;
}


@media (min-width: 35rem) {
  .large-button {
    margin-top: 8rem;
    min-width: 15.125rem;
  }
}

@media (min-width: 48rem) {
  .large-button {
    margin-top: 3rem;
    margin-left: 10rem;
  }
}

.large-button::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: hsl( var(--clr-white) / 0.1 );
  opacity: 0;
  border-radius: 50%;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after{
  opacity: 1;
  transform: scale(1.5);
}

/* tabs */
.tab-list {
  --gap: 2rem;
  justify-content: center;
}

@media (min-width: 48rem) {
  .tab-list {
    justify-content: start;
  }
}

.tab-list > button {
  --underline-gap: 0.5rem;
  background-color: transparent;
  border: 0;
  border-bottom: .2rem solid hsl( var(--clr-white) / 0);
}

.tab-list > button[aria-selected="true"] {
  color: hsl( var(--clr-white) );
  border-color: hsl( var(--clr-white) / 1);
}

/* dot slider */
.dot-indicators {
  --gap: 1rem;
  justify-content: center;
  margin-block: 2rem;
}

.dot-indicators > button {
  padding-inline: 0.315rem;
  aspect-ratio: 1;
  border: 0;
  border-radius: 50%;
  background-color: hsl( var(--clr-white) / .25);
}

.dot-indicators > button:hover {
  cursor: pointer;
  background-color: hsl( var(--clr-white) / 0.5 );
}

.dot-indicators > button[aria-selected="true"]{
  background-color: hsl( var(--clr-white) / 1);
}

@media (min-width: 48rem){
  .dot-indicators {
    --gap: 1.5rem;
    justify-content: start;
    margin-top: 10rem;
  }

  .dot-indicators > button { 
    padding-inline: 0.5rem;
  }
}

/* numbered slider */
.num-indicators {
  --gap: 1rem;
  justify-content: center;
  margin-block: 0.5rem;
}

.num-indicators > button {
  max-width: 5rem;
  aspect-ratio: 1;
  border: 1px solid hsl( var(--clr-white) / .25);
  border-radius: 50%;
  background-color: transparent;
  width: 2.5rem;
}

@media (min-width: 35rem){
  .num-indicators > button {
    width: 3.75rem;
  }
}

@media (min-width: 48rem){
  .num-indicators {
    flex-direction: column;
    justify-content: start;
  }

  .num-indicators > button {
    width: 5rem;
  }
}



.num-indicators > button:hover {
  cursor: pointer;
  border-color: hsl( var(--clr-white) / 1 );
}

.num-indicators > button[aria-selected="true"] {
  border-color: hsl( var(--clr-white) / 1);
  background-color: hsl( var(--clr-white) / 1);
  color: hsl( var(--clr-dark) );
}

.planet-adv-info {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
}

@media (min-width: 35rem) {
  .planet-adv-info{
    --gap: 4rem;
    flex-direction: row;
    justify-content: center;
  }

}

.destination-image {
  max-width: 10.625rem;
  aspect-ratio: 1;
  margin-inline: auto;
  margin-top: 3rem;
}

@media (min-width: 35rem) {
  .destination-image {
    max-width: 18.75rem;
  }
}

@media (min-width: 48rem) {
  .destination-image {
    max-width: 27.8125rem;
  }
  
}

.member-info {
  --gap: 0;
  flex-direction: column;
}

@media (min-width: 35rem) {
  .member-info {
   display: grid;
   place-items: start center; 
   margin-top: 2rem;
   /* border: 2px solid red; */
 }

 .member-info > *:first-child {
   grid-row: 3;
   /* border: 2px solid greenyellow; */
 }

 .member-info > *:last-child {
   grid-row: 2;
   /* border: 2px solid blueviolet; */
 }

}

@media (min-width: 48rem) {

  .member-info {
    display: grid;
    grid-template-rows: 1fr minmax(2rem, 1fr);
    place-items: end start;
  }

  .member-info > *:first-child {
    grid-row: 3;
  }

  .member-info > *:last-child {
    grid-row: 2;
  }


}

.member-image {
  max-height: 13.875rem;
  margin-inline: auto;
  margin-top: 3rem;
}

@media (min-width: 35rem){
  .member-image {
    max-height: 35.75rem;
    margin-top: 1rem;
  }
}

@media (min-width: 48rem){
  .member-image {
    padding: 0;
    margin: 0;
    max-height: 100%;
    /* max-height: 44.5rem; */
  }
}

.member-role {
  color: hsl( var(--clr-white) / .5);
}

@media (min-width: 48rem){
  .tech-info {
    display: grid;
    gap: 5rem; 
    grid-template-columns: 5rem 1fr;
  }


}

.tech-image {
  max-height: 19.375rem;
  margin-block: 1.75rem;
}

@media (min-width: 48rem) {
  .tech-image {
    max-height: 32.9375rem;
  }
}
